.Action {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: #7e7e7e 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  transition: all 100ms ease-in-out;
}

.Action:hover {
  background-color: #ffffff1f;
  cursor: pointer;
}
