:root {
  --avg-size: 19px;
}

.Editor * {
  color: #fff;
}

.Editor {
  min-width: 73vw;
  min-height: 100vh;
}

.Editor p {
  font-size: var(--avg-size);
  line-height: 40px;
}

.Editor h1 {
  font-size: 68px;
  font-weight: 700;
}

.Editor h2 {
  font-weight: 300;
  font-size: 52px;
}

.Editor h3 {
  font-size: 48px;
}

.Editor blockquote {
  margin: 10px 0;
  padding: 0.75em 1.5em;
  border-left: 4px solid #ccc;
  font-style: italic;
  color: #333;
  border-radius: 4px;
  font-size: var(--avg-size);
}

.Editor li {
  list-style: disc;
  font-size: var(--avg-size);
}
