.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* background-color: aqua; */
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #202025;
  padding: 10px;
  gap: 25px;
  min-width: 20%;
  overflow: auto;
}

.utils {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.utils p {
  font-size: 20px;
  font-weight: 600;
}

.editor {
  padding: 10px;
  width: 85%;
  display: flex;
  overflow: scroll;
  background-color: #161618;
  color: #fff;
  height: 100%;
  border-left: 1px solid #202025;
  flex-direction: column;
}
